In this activity, you are tasked with creating a Python script for analyzing the financial records of your company. You will be provided with a financial dataset in this file: budget_data.csv. This dataset is composed of two columns, Date and Profit/Losses. (Thankfully, your company has rather lax standards for accounting, so the records are simple.)
Your task is to create a Python script that analyzes the records to calculate each of the following:


The total number of months included in the dataset.    count


The net total amount of Profit/Losses over the entire period.        sum


The average of the changes in Profit/Losses over the entire period.    mean


The greatest increase in profits (date and amount) over the entire period.     max


The greatest decrease in losses (date and amount) over the entire period.     min


Your final script should print the analysis to the terminal and export a text file with the results.

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average  Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159)
Greatest Decrease in Profits: Sep-2013 ($-2196167)

## Pseudo Code

In [ ]:
import dependencies

declare variables for count, sum, mean, max & min

declare file = path to resource

read file

for loop:
    if

## Imports

In [9]:
from pathlib import Path
import csv
import pandas as pd

In [24]:
budget_file = Path('Resources/budget_data.csv')
report_file = Path('output.txt')

months = 0
profits = []
total_profit = 0
average_profit = 0
best_month = 0
worst_month = 0

In [36]:
budget_file = Path('Resources/budget_data.csv')
report_file = Path('output.txt')

months = 0
profits = []
total_profit = 0
best_month = 0
worst_month = 0
name_best = ''
name_worst = ''

with open(budget_file, "r") as file:
    csvreader = csv.reader(file, delimiter = ',')
    header = next(csvreader)
    for row in csvreader:
        months += 1
        month = str(row[0])
        profit = int(row[1])
        profits.append(profit)
        total_profit += profit
        if worst_month == 0:
            worst_month = profit
            name_worst = month
        elif worst_month > profit:
            worst_month = profit
            name_worst = month
        elif best_month < profit:
            best_month = profit
            name_best = month

average_profit = round(total_profit / months, 2)
print(f'Sum = ${total_profit}')
print(f'Months = {months}')
print(f'Average = ${average_profit}')
print(f'Best Profit = ${best_month} in {name_best}')
print(f'Worst Loss = ${worst_month} in {name_worst}')

Sum = $38382578
Months = 86
Average = $446309.05
Best Profit = $1170593 in Feb-2012
Worst Loss = $-1196225 in Sep-2013

In [4]:
budget_df = pd.read_csv('')

In [7]:
budget_df.describe()

       Profit/Losses
count   8.600000e+01
mean    4.463090e+05
std     5.363579e+05
min    -1.196225e+06
25%     1.821620e+05
50%     5.703280e+05
75%     7.952262e+05
max     1.170593e+06

# HOW DO YOU GET THE DIFFERENCE BETWEEN TWO MONTHS?

In [37]:
print(profits)

[867884, 984655, 322013, -69417, 310503, 522857, 1033096, 604885, -216386, 477532, 893810, -80353, 779806, -335203, 697845, 793163, 485070, 584122, 62729, 668179, 899906, 834719, 132003, 309978, -755566, 1170593, 252788, 1151518, 817256, 570757, 506702, -1022534, 475062, 779976, 144175, 542494, 359333, 321469, 67780, 471435, 565603, 872480, 789480, 999942, -1196225, 268997, -687986, 1150461, 682458, 617856, 824098, 581943, 132864, 448062, 689161, 800701, 1166643, 947333, 578668, 988505, 1139715, 1029471, 687533, -524626, 158620, 87795, 423389, 840723, 568529, 332067, 989499, 778237, 650000, -1100387, -174946, 757143, 445709, 712961, -1163797, 569899, 768450, 102685, 795914, 60988, 138230, 671099]

In [38]:
profits[3]

-69417